.p-ripple ,.p-element,.p-button,.p-component{
    background: #F26522 !important;
}
.h-12rem{
    min-height: 200px;
}
.form_wizard-content{
    background: #FEF1EB;
    border: 2px dashed #6B7280;
    border-radius: 5px;
}