				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Form Wizard</h3>
						</div>
					</div>
				</div>
				<!-- /Page Header -->

				<div class="row">

					<!-- Lightbox -->
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title mb-0">Basic Wizard</h4>
							</div>
							<div class="card-body">
								<p-stepper>
                                    <p-stepperPanel header="Header I">
                                        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                                            <div class="d-flex form_wizard-content justify-content-center align-items-center flex-column h-12rem">
                                                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                                    Content I
                                                </div>
                                            </div>
                                            <div class="flex pt-4 justify-content-end">
                                                <p-button 
                                                    label="Next" 
                                                    icon="pi pi-arrow-right" 
                                                    iconPos="right" 
                                                    (onClick)="nextCallback.emit()" />
                                            </div>
                                        </ng-template>
                                    </p-stepperPanel>
                                    <p-stepperPanel header="Header II">
                                        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                                            <div class="d-flex form_wizard-content justify-content-center align-items-center flex-column h-12rem">
                                                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                                    Content II
                                                </div>
                                            </div>
                                            <div class="d-flex pt-4 justify-content-between">
                                                <p-button 
                                                    label="Back" 
                                                    icon="pi pi-arrow-left" 
                                                    (onClick)="prevCallback.emit()" />
                                                <p-button 
                                                    label="Next" 
                                                    icon="pi pi-arrow-right" 
                                                    iconPos="right" 
                                                    (onClick)="nextCallback.emit()" />
                                            </div>
                                        </ng-template>
                                    </p-stepperPanel>
                                    <p-stepperPanel header="Header III">
                                        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                                            <div class="d-flex form_wizard-content justify-content-center align-items-center flex-column h-12rem">
                                                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                                    Content III
                                                </div>
                                            </div>
                                            <div class="d-flex pt-4 justify-content-start ">
                                                <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" ></p-button>
                                            </div>
                                        </ng-template>
                                    </p-stepperPanel>
                                </p-stepper>
							</div>
							<!-- end card body -->
						</div>
					</div>
					<!-- /Wizard -->

				</div>